<div>
  <section>
    <input 
    class="search-input" 
    type="text" 
    placeholder="Search..." 
    [(ngModel)]="searchTerm"/>
  </section>
  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">Logo</th>
          <th scope="col">Nombre del producto</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha Inicio</th>
          <th scope="col">Fecha Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let product of filteredProducts; let i = index">
          <th>{{i + 1}}</th>
          <th>{{product.logo}}</th>
          <th>{{product.name}}</th>
          <th>{{product.description}}</th>
          <th>{{product.deliveryDate | defaultDate}}</th>
          <th>{{product.reviewDate | defaultDate}}</th>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <label for="limitSelect">Show:</label>
    <select id="limitSelect" [(ngModel)]="limit">
      <option [value]="2">2</option>
      <option [value]="3">3</option>
      <option [value]="4">4</option>
    </select>
    <span>elementos</span>
  </section>
</div>
